<nav class="site-nav" aria-label="Navigation principale">
  <ul class="site-nav__list">
    {% for item in site.data.navigation %}
      <li class="site-nav__item">
        <a
          class="site-nav__link{% if item.alert %} site-nav__link--alert{% endif %}{% if item.vote %} site-nav__link--vote{% endif %}"
          href="{{ item.url | relative_url }}"
          data-label-fr="{{ item.fr }}"
          data-label-en="{{ item.en }}"
        >
          {{ item.fr }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
